#python==3.9
#pyinstaller==5.2
#pyqtgraph==0.13.1
#PyQt5==5.15.4

numpy #==1.24.2
pandas #==1.5.3 #pandas==1.5
scipy
pyabf
tifffile
matplotlib
mplcursors
seaborn
requests
tables
scikit-image==0.19.3
h5py
qtpy
pyqtgraph
pyqtdarktheme
PyQt5
#pywin32
tornado
urllib3==1.26.15
windows-curses
pyinstaller==5.9.0 
'.[gui]'

